/* You can add global styles to this file, and also import other style files */

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* color: rgb(51, 171, 240); */
}


/* style.css er moddho color fixed kora jay. 
akhane margin r padding er kaj hocche , chorme  a kono space 
thakbe na , 

ekhane j h1 dici , code likhar somoy joto h1 hobe sob gular color e 
akasi thakbe .*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
